
*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family:'Open Sans', sans-serif;
} 
body{
	color:#1d232f;
	font-size: 16px;
	background: #f9f9f9;
	overflow-x: none;
}
.container{
	max-width: 1000px; 
	margin:0 auto;
	padding: 15px;
	position: relative;
}
.lg-tittle{font-size: 72px;}
.tittle{font-size: 48px;}
.sub-tittle{font-size: 32px;}
.heading{font-size: 24px;}
p{
	font-family: "Open Sans", sans-serif;
	line-height: 140%;
}
a{text-decoration: none;}
h1,h2,h3,h4,h5,h6{
	font-family: "Merriweather", sans-serif;
	margin-top: 0px;
	font-style: normal;
}
.t{border:1px dotted red;} 
.d-flex{display: flex;}
.show{display: block;}
.shape1{
	position: absolute;
	top: 0;
	left:0;
	z-index: -2;
}
.shadow1{box-shadow: 0 0 0 8px rgba(112,200, 135,0.3);}
.bg{background: linear-gradient(to bottom, #482c8d, #fd5a61);}
.black{background: #171d29;}
.grey{background: #1e2430;}
.secondary-dark{background:#3e9fe3;}
.secondary{background: #44b4fe;}
.third{background: #1d232f;}
.celestial{background: linear-gradient(to right, #c33764, #1d2671);}
.harmonic{background: linear-gradient(to right, #72c985, #dae32a);}
.endles{background: linear-gradient(to left, #43cea2, #185a9d);}
.primary{background:#fe5a61;}
/*.hero{
	background: url('background.jpg');
	background-size: cover;
	background-attachment: fixed;
}*/

a.active{color:#ccc;}
/*a.active::after{
	content:"";
	width:80px;
	position: absolute;
	height:3px;
	background: white;
	bottom:0;
	left:0;
	clear: both;
	opacity: 1;
}*/
.btn{
	padding:8px 30px;
	border-radius:50px;
	color:white;}
.btn a{color:white;}
.btn:hover{
	background:  linear-gradient(to left, #482c8d,  #72c985);
	animation-delay: 0.1s;
	animation-duration: 0.5s;
	animation-name: rippled;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.ripple, .hero::before,
.hero::after{
	position: absolute;
	/*background:linear-gradient(to top, black, white);*/
	background: 
	linear-gradient(to top, black, white);
	opacity: 0.1;
	border-radius: 50%;
	content: "";
}
.ripple{
	height:200px;
	width: 200px;
	z-index: 2;
	right:-100px;
	top:200px;
}
.hero::before{
	height:400px;
	width: 300px;
	top:100px;
	left:-200px;
}

.hero::after{
	height:400px;
	width: 400px;
	top:-60px;
	right: -100px;
	z-index: 1;
}
.hero{
	position: relative;
	color:white;
	border-radius: 0 0 15px 15px;
	padding-bottom:70px;
	max-width: 100%;
}

.jumbotron{
	position: relative;
	z-index: 5;
	text-align: right;
}
.banner{
	position:relative;
}

.slogan{
	position: absolute;
	width:500px;
	z-index: 5;
	text-align: left;
	padding: 80px 0;
}
.slogan span{
	color:coral;
	text-transform: uppercase;
}
.slogan h1{
	margin:25px 0;
}
.slogan p{
	padding:0 20px 15px 0;
	margin-bottom: 30px;
}

